div(style=" background-color: #1B9355 ; width: 100vw; height: 20px; padding-top: 1vw; padding-bottom: 1vw; margin-top: 10vw;")
  a(href='', style="color: white; margin-left: 7vw;") Política de privacidade
  a(href='', style="color: white; margin-left: 10vw;") Termos de privacidade
  a(href='', style="color: white; margin-left: 10vw;") Acordos
  a(href='', style="color: white; margin-left: 10vw;") Ajuda
  a(href='', style="color: white; margin-left: 10vw;") Créditos
  a(href='', style="color: white; margin-left: 10vw;") Contatos
