div#footer(style=" background-color: #1B9355 ;")
  a(href='', style="color:") Política de privacidade
  a(href='', style="color: ") Termos de privacidade
  a(href='', style="color: ") Acordos
  a(href='', style="color: ") Ajuda
  a(href='', style="color: ") Créditos
  a(href='', style="color: ") Contatos
