div#footer(style=" background-color: #1B9355; ")
  a(href='', style="") Política de privacidade
  a(href='', style="") Termos de privacidade
  a(href='', style="") Acordos
  a(href='', style="") Ajuda
  a(href='', style="") Créditos
  a(href='', style="") Contatos
