extends layout

block content
  div#sample_game(style="height:300px; width:450px; margin-left:10vw; margin-top: 300px;")
    img(src='img/sample_game.png')
    
  div#rules_box(style="background-color: #1B9355; height:940px; margin-left:47vw; margin-top: -540px; padding-left: 1vw;")
    p(style="color: #f4b718; font-size: 15px; text-transform: uppercase; font-weight: bold; margin-left: 34vw; margin-top: 2vw; padding-top: 1vw;") Como Jogar
    ol
      li(style=" padding-right: 2vw; color: white;font-size: 20px; margin-top: 2vw; margin-left:15px;")
        p(style="font-size: 15px;")  Faça seu cadastro no site do jogo, criando seu perfil; 
      li(style=" padding-right: 2vw; color: white;font-size: 20px; margin-top: 2vw; margin-left:15px;")
        p(style="font-size: 15px;") Clique em ENTRAR ou JOGAR AGORA para começar um novo jogo.;
      li(style=" padding-right: 2vw; color: white;font-size: 20px; margin-top:2vw; margin-left:15px;")
        p(style="font-size: 15px;") Ao iniciar o jogo, você receberá 6 cartas para completar duas TRINCAS (conjunto de 3 cartas), com uma sequência de “CAUSA DO PROBLEMA – PROBLEMA – SOLUÇÃO DO PROBLEMA”, sobre situações que ocorrem na Sociedade;
      li(style=" padding-right: 2vw; color: white;font-size: 20px; margin-top:2vw; margin-left:15px;")
        p(style="font-size: 15px;") Você poderá clicar no monte para comprar novas cartas até que encontre associações entre problemas, causas e soluções. Para comprar uma carta, você precisa clicar nela e na carta que vc irá substituir.
      li(style=" padding-right: 2vw; color: white;font-size: 20px; margin-top:2vw; margin-left:15px;")
        p(style="font-size: 15px;") Você também poderá comprar cartas descartadas anteriormente, basta clicar na carta escolhida e clicar na carta que irá trocar. Estas ações poderão ser repetidas várias vezes até que você encontre relações entre elas na lógica do jogo;
      li(style=" padding-right: 2vw; color: white;font-size: 20px; margin-top:2vw; margin-left:15px;")
        p(style="font-size: 15px;") Quando a TRINCA é formada, clique nas cartas  e aponte-as para o campo de trincas.
      li(style=" padding-right: 2vw; color: white; font-size: 20px; margin-top:2vw; margin-left:15px;")
        p(style="font-size: 15px;") Justifique por escrito a relação entre as cartas utilizando, se possível, as mesmas palavras das cartas. Caso você prefira usar diferentes palavras relacione-a com a carta. Obs. -  As cartas em branco são curingas no jogo e poderão ser dispostas na trinca como você convir, basta criar um novo termo que se relacione a ela;
      li(style=" padding-right: 2vw; color: white; font-size: 20px; margin-top:2vw; margin-left:15px;")
        p(style="font-size: 15px;") Após a justificativa, releia e confirme para a publicação da mesma na rede ou retorne e edite novamente caso queira deixá-la ainda mais clara para o público;
      li(style=" padding-right: 2vw; color: white; font-size: 20px; margin-top:2vw; margin-left:15px;")
        p(style="font-size: 15px;") A trinca será publicada na rede e estará disponível na página MINHAS TRINCAS ou em TRINCAS PUBLICADAS e ficará em votação durante 3 dias. Acompanhe as discussões e comente com outros jogadores argumentando seu ponto de vista. Os jogadores participantes poderão concordar ou discordar com sua trinca durante o período que poderá ser prorrogado caso não haja o mínimo de 3 votos. Clique em VER COMENTÁRIOS e vote também em outras trincas;
      li(style=" padding-right: 2vw; color: white; font-size: 20px; margin-top:2vw; margin-left:15px;")
        p(style="font-size: 15px;") Faça quantas trincas quiser e publique -as na rede. Após 10 trincas aprovadas, a sua área de atuação poderá ser expandida, ou seja, comece resolvendo os problemas que geralmente acontecem em CASA, depois ESCOLA,  TRABALHO, RUA, BAIRRO, CIDADE, PAIS, até que finalmente vocë resolva problemas do MUNDO!
      li(style=" padding-right: 2vw; color: white; font-size: 20px; margin-top:2vw; margin-left:15px;")
        p(style="font-size: 15px;") Após algumas fases ultrapassadas,  você receberá orientações para criar uma ação a ser desempenhada no jogo ou em sua vida;
      
  div#menu_body(style="font-size: 20px; font-weight: bold; height:200px; width:225px; margin-left:27vw; margin-top: -850px;")
    ul
      li
        a(href='') Manual
      li(style="margin-top: 1vw; padding-top: 1vw;")
        a(href='') Acordos do Jogo
      li(style="margin-top: 1vw; padding-top: 1vw;")  
        a(href='') Assista o video
        
  div(style="border: 1px solid blue ; border-left-style: none; background-color: #f4b718; height:100px; width: 450px; margin-left:0vw; margin-top: 00vh; padding-top: 2vw; padding-bottom: 1vw;")
    p(style="padding-left: 4vw; font-weight: bold; font-size: 15px; ") ACORDOS DO JOGO
    p(style="padding-left: 4vw; padding-right: 2vw; text-align: left;") Este jogo preza pela atuação positiva entre as pessoas e ações gentis no mundo e não permitirá agressões verbais ou termos que violam a moral
  
    div#rules_box(style="background-color: #1B9355; height:215px; width: 450px; margin-left: 65vw; margin-top: -1vw; position-right: 0;")
      p(style="font-weight: bold; font-size: 15px; color: white; padding-left: 1vw; padding-top: 1vw;") Observações:
      p(style="color: white; padding-left: 1vw; padding-right: 1vw;") Observações: Este é um jogo de refexão que pode ter inúmeras variantes de “CAUSA DO PROBLEMA - PROBLEMA - SOLUÇÃO DO PROBLEMA”, de acordo com o ponto de vista de cada jogador e do grupo.
      p(style="color: white; padding-left: 1vw; padding-right: 1vw;") Defenda suas ideias, use diferentes argumentos, ouça a opinião do outro e não tema se outro jogador te convencer a olhar sobre um outro ponto de vista. O importante é encontrarmos juntos a solução!
      p(style="color: white; padding-left: 1vw; padding-right: 1vw;") Colabore com sua opinião. Agradecemos a gentileza.
      
  img(src= 'img/cards/casa-09.png', style="margin-left: 5vw; margin-top: 8vw;")
  img(src= "img/cards/casa-39.png", style="margin-left: 5vw; margin-top: 8vw;")
  img(src= "img/cards/casa-98.png", style="margin-left: 5vw; margin-top: 8vw;")
    
  p(style="height:50px; width: 450px; color: white; margin-left: 57vw; margin-top: 0px; ") A carta em branco é um coringa e pode ser posiocionada onde o jogador desejar e será relacionado a situação escolhida pelo mesmo.
  include footer

block scripts
script(src='vendor/jquery-1.11.1.js')
