extends layout_bootstrap

block content
  div#carousel-div(class='carousel slide', data-ride='carousel', style='background-color:none; height:300px; width:450px; margin-left:-210px; left:28vw; top: 80px;')
  
    ol(class='carousel-indicators')
      li(data-target='#carousel-div', data-slide-to='0', class='active')
      li(data-target='#carousel-div', data-slide-to='1')
      li(data-target='#carousel-div', data-slide-to='2')

    div(class='carousel-inner', role='listbox')
      div(class='item active')
        img(src='img/slice1.png')
        //- div(class='carousel-caption')
        //-   h4 Caption Text 1
        //-   p Subcaption 1
          
      div(class='item')
        img(src='img/slice1.png')
          
      div(class='item')
        img(src='img/slice1.png')
          
    //- a(class='left carousel-control', href='#carousel-div', role='button', data-slide='prev')
    //-   span(class='glyphicon glyphicon-chevron-left', aria-hidden='true')
    //-   
    //- a(class='right carousel-control', href='#carousel-div', role='button', data-slide='next')
    //-   span(class='glyphicon glyphicon-chevron-right', aria-hidden='true')
        
  div#menu_body
    ul
      li
        a(href='') Trincas publicadas
      li
        a(href='') Minhas trincas
      li  
        a(href='') Área de atuação
      li
        a(href='') Acordos
  
  div#content_block(style='position:absolute; margin-top:-220px;')
    div(style='margin-left:50vw;')  
      include tiles_titles.jade
      include tile_trinca.jade
      include tile_trinca.jade
      include tile_trinca.jade
      include tile_trinca.jade
  
block scripts
script(src='vendor/jquery-1.11.1.js')
script(src='vendor/bootstrap/js/bootstrap.min.js')	
