extends layout_blue
include tile_profile

block content
  - var user = typeof(udata) != 'undefined' ? udata : { }
  - var trincas = typeof(tdata) != 'undefined' ? tdata : { }
  
  div(style="width: 1000px; height: 600px; margin: 0 auto 45vh auto;")
    div(style="height: 400px; width: 500px; display: inline-block; margin: 0 0 0 0;")
      div#profile_pic(style='position: relative; display: inline-block')
        ul(style='list-style: none; text-align:left;')
          li
            img(src='img/profile_pic@3x.png', style='margin:10px 0 0 0;')
          li(style='margin:-180px 0 0 40px;')
            a(style='font-size:18px; color:#000; text-decoration:none;') #{ user.name }
          li(style='margin:150px 0 0 40px;')
            a(style='margin-left: 0px; color:white;') editar perfil
      
      div#profile_menu(style='position: relative; margin: 0 0 0 40px; display:block; max-width:220px; display: inline-block')
        ul(style='list-style: none; text-align:right;')
          li 
            a(style='text-decoration:none; color:#F2B81F; font-size:20px;') MINHAS TRINCAS 
          li
            a(style='color:#F2B81F; font-size:15px;') Trincas publicadas 
          li
            a(style='color:#F2B81F; font-size:15px;') Trincas aprovadas 
          li
            a(style='color:#F2B81F; font-size:15px;') Trincas desaprovadas
          li
            a(style='color:#F2B81F; font-size:15px;') Trincas em votação
          li 
            a(style='color:#F2B81F; font-size:15px;') Seguidores
        
        ul(style='text-align:right; margin-top:50px; list-style-type: none;')
          li
            a(style='text-decoration:none; color:#FFF; font-size:17px; font-weight:regular;') ÁREA DE ATUAÇÃO
          li  
            a(style='text-decoration:none; color:#FFF; font-size:15px; font-weight:regular;') CASA
        
    div#content_block(style='position:absolute; display: inline-block; overflow-y: scroll; width: 500px; height: 990px; margin: 25px 0 0 50px; max-height:82.4vh;')
      div 
        - for (var i = 0; i < trincas.length; i++)
          +tile_profile(i, trincas)
  
  include footer
      
  block scripts
  script(src='vendor/jquery-1.11.1.js')
  script(src='vendor/bootstrap/js/bootstrap.min.js')	
  script(src='../../js/views/refresh.js')	
