extends layout_blue

block content
  div
    div(style="width: 800px; height: 100px; margin: 25px 0 0 400px; text-align: justify; text-justify: inter-word;")
      p(style="color: white;") A cada mudança de fase no jogo, faça uma ação no mundo inspirada na solução apontada. Crie uma imagem, escreva frases, faça um gesto gentil, imprima sua placa, e fixe-a em algum lugar. Registe sua ação com uma foto e compartilhe na Rede Gentil, georeferenciando sua ação. Desse modo você poderá participar do Mapa da Gentileza e colaborar trazendo soluções para os problemas da sociedade. Veja no mapa quem já atuou e está nesta rede!
      
    div(style="margin: 0 0 50px 400px;")
      img(src="img/image_rede_gentil.jpg", style="")
      
  include footer

block scripts
script(src='vendor/jquery-1.11.1.js')
