extends layout

block content
  div#hello(style="margin:50px 0px 0px 100px;")
    h1 Aguardando dados...
    
block scripts
  script(src='vendor/jquery-1.11.1.js')
  script(src="../../js/views/ms.js")
  
