extends layout
include tile_trinca
include tile_vote_comment.jade

block content
  - var user = typeof(udata) != 'undefined' ? udata : { }
  - var trinca = typeof(tdata) != 'undefined' ? tdata : { }
  - var votes = typeof(tvotes) != 'undefined' ? tvotes : { }
  
  input(type='hidden', value= user.name)#userId
  
  div(style='width:auto;display:inline-block;margin-top:35px;margin-left:48vw; margin-bottom:0px;')
    a(style='color:#F4B718;text-decoration:none;font-size:20px;text-align:right;margin-left:22vw;font-weight:bold;') Trinca em Votação
    div(style='margin-top:20px;')
      include tiles_titles.jade  
  
  div(style='position:absolute;margin-left:47vw; margin-top:5px; max-height:82.4vh;')
    //- include tile_trinca.jade
    +tile_trinca(trinca)
              
    div#comments(style='background-color:#32AD67; overflow-y:scroll; max-height:235px;')
      //- include tile_vote_comment.jade
      - for (var i=0; i < votes.length; i++)
          +tile_vote_comment(i, votes)
            
  div#profile_pic(style='position:absolute; margin: 0 0 0 300px')
    ul(style='list-style: none;')
      li
        img(src='../img/profile_pic@3x.png')
      li
        a(style='margin-left:45px; color:white;') seguir
            
  div#profile_menu(style='position:absolute; margin:250px 0 0 22vw; display:block; max-width:220px;')
    ul(style='list-style: none; text-align:right;')
      li
        a(style='color:#F2B81F; font-size:15px;') Trincas publicadas (25)
      li
        a(style='color:#F2B81F; font-size:15px;') Trincas aprovadas (12)
      li
        a(style='color:#F2B81F; font-size:15px;') Trincas desaprovadas (1)
      li
        a(style='color:#F2B81F; font-size:15px;') Trincas em votação (2)
        
    ul(style='list-style: none; text-align:right; margin-top:50px;')
      li
        a(style='text-decoration:none; color:#FFF; font-size:17px; font-weight:regular;') ÁREA DE ATUAÇÃO
      li  
        a(style='text-decoration:none; color:#FFF; font-size:15px; font-weight:regular;') CASA
      
  block scripts
    script(src='../vendor/jquery-1.11.1.js')
    script(src='../vendor/bootstrap/js/bootstrap.min.js')
    script(src='../js/views/vote.js')	
                                              
